@{
    ViewBag.Title = "addPlayer";
}

<h2>Add Players</h2>
<form action="~/Home/addPlayerFunct" method="post" id="addplayer_form">


    Name of the footballer:<br>
    <input type="text" name="pname" placeholder="Type particulars">
    <br>
    Age of the footballer:<br>
    <input type="number" name="age" placeholder="Type particulars">
    <br>
    Goals of the footballer:<br>
    <input type="number" name="goals" placeholder="Type particulars">
    <br>
    Assists of the footballer:<br>
    <input type="number" name="assists" placeholder="Type particulars">
    <br>
    Nationality of the footballer:<br>
    <input type="text" name="nationality" placeholder="Type particulars">
    <br><br>
    Club ID:<br>
    <input type="number" name="cid" placeholder="Type particulars">
    <br><br>
    <input type="submit" value="Submit">
</form>
