		<!-- gallery -->
		<div class="gallery">
			<!-- Page Starts Here -->
			<div class="content">
				<div class="container">
					<div class="gallery">
						<h3>Players Statistics</h3>
						<div class="gallery-top">
							<div class="view view-tenth">
                                <img src="~/Images/images/mu.png" />
								<div class="mask">
									<h2>Manchester United</h2>
                                    <p>Manchester United Football Club is a professional football club based in Old Trafford, Greater Manchester</p>
                                    <a href="~/Home/players?cid=1" class="info">Manchester United FC</a>
								</div>
							</div>
							<div class="view view-tenth">
                                <img src="~/Images/images/g1.png" />
								<div class="mask">
									<h2>Manchester City</h2>
                                    <p>Manchester City Football Club is a football club in Manchester, England. Founded in 1880 </p>
                                    <a href="~/Home/players?cid=2" class="info">Manchester City FC</a>
								</div>
							</div>
							<div class="view view-tenth">
                                <img src="~/Images/images/g4.png" />
								<div class="mask">
									<h2>CHELSEA- THE BLUES</h2>
                                    <p>Chelsea Football Club is an English professional football club based in Fulham, London, that competes in the Premier League.</p>
                                    <a href="~/Home/players?cid=3" class="info">Chelsea FC</a>
								</div>
							</div>
							<div class="view view-tenth">
                                <img src="~/Images/images/g2.png" />
								<div class="mask">
									<h2>ARSENAL</h2>
                                    <p>Arsenal Football Club is an English professional football club based in Highbury, London</p>
                                    <a href="~/Home/players?cid=4" class="info">Arsenal FC</a>
								</div>
							</div>
							<div class="view view-tenth">
                                <img src="~/Images/images/g5.png" />
								<div class="mask">
									<h2>LIVERPOOL</h2>
                                    <p>Liverpool Football Club is a Premier League association football club based in Liverpool, Merseyside, England.</p>
                                    <a href="~/Home/players?cid=5" class="info">Liverpool FC</a>
								</div>
							</div>
							
							
							
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- Page Ends Here -->
		</div>
		<!-- //gallery -->
		</body>
</html>