<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>English Premier League</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Forward Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/style3.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- js -->
<script src="js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
	$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
});
});
</script>
<!-- start-smoth-scrolling -->


</head>
	<body>
		<!-- header -->
		<div class="header">
			<div class="header-top">
				<!-- container -->
				<div class="container">
					<div class="header-top-left">
					
					</div>
				
					<div class="clearfix"> </div>
				</div>
				<!-- //container -->
			</div>
			<div class="header-middle">
				<!-- container -->
				<div class="container">
					<div class="header-middle-logo">
						<a href="index.jsp">EPL player statistics</a>
					</div>
					<div class="header-middle-right">
						
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- //container -->
			</div>
			<div class="top-nav">
				<!-- container -->
				<div class="container">
					<span class="menu">MENU</span>
					<ul class="nav1">
						<li><a href="index.jsp">Home</a><li>                        
						<li><a href="matches.jsp">Players</a><li>                 
						<li><a href="gallery.jsp">History</a><li>               
						<li><a href="articles.jsp">About</a><li>                  
						             
						
						<div class="clearfix"> </div>
					</ul>
					<!-- script-for-menu -->
							 <script> 
							   $( "span.menu" ).click(function() {
								 $( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							
							</script>
						<!-- /script-for-menu -->
				</div>
				<!-- //container -->
			</div>
			<div class="blue"> </div>
		</div>
		<!-- //header -->
		<!-- banner -->
		<div class="banner-slider">
			<!-- banner Slider starts Here -->
					<script src="js/responsiveslides.min.js"></script>
					 <script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
					  </script>
					<!--//End-slider-script -->
					<div  id="top" class="callbacks_container">
						<ul class="rslides" id="slider3">
							<li>
								<div class="banner"> </div>
							</li>
							<li>
								<div class="banner-img"> </div>
							</li>
						</ul>
					</div>
		</div>
		<!-- //banner -->
		<!-- how -->
		<div class="how">
			<!-- container -->
			<div class="container">
				<div class="how-top-grids">
					<div class="col-md-7 how-left">
						<h3>History of the club </h3>
						
						<!-- pop-up-box -->
						<script type="text/javascript" src="js/modernizr.custom.min.js"></script>    
						<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
						<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
						<!--//pop-up-box -->
						<div id="small-dialog" class="mfp-hide">
							
						</div>
						 
								
						
						<p>
						    Liverpool Football Club is a Premier League association football club based in Liverpool, Merseyside, England. 
						    The club has won 5 European Cups, 3 UEFA Cups, 3 UEFA Super Cups, 18 League titles, 7 FA Cups, a record 8 League Cups, and 15 FA Community Shields. The club was founded in 1892 and joined the Football League the following year. The club has played at Anfield since its formation. Liverpool established itself as a major force in both English and European football during the 1970s and 1980s when Bill Shankly and Bob Paisley led the club to 11 League titles and seven European trophies. Under the management of Rafa Benítez and captained by Steven Gerrard Liverpool became European champion for the fifth time, winning the 2005 UEFA Champions League Final against Milan in spite of being 3–0 down at half time. Liverpool was the ninth highest-earning football club in the world for 2014–15, with an annual revenue of €391 million, and the world's eighth most valuable football club in 2016, valued at $1.55 billion. The club holds many long-standing rivalries, 
						    most notably the North West Derby against Manchester United and the Merseyside derby with Everton.   
						</p>
					</div>
					<div class="col-md-5 how-right">
						<h3>Club details</h3>
						<div class="tournament">
							<div class="how-right-left">
								
							</div>
							<div class="how-right-right">
								<a href="http://www.liverpoolfc.com">Clubs official website</a>
								<P>
									Home Stadium: Anfield Stadium <br>
								
								Club Manager: Jurgen Klopp
								</p>
								<div class="more">
									<a href="single.html"></a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="tournament t-middle">
							<div class="how-right-left">
								
							</div>
							<div class="how-right-right">
								<h4></h4>
								<P>
								</p>
								<div class="more">
									<a href="single.html"></a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="tournament t-middle">
							<div class="how-right-left">
								
							</div>
							<div class="how-right-right">
								<h4></h4>
								<P>
								</p>
								<div class="more">
									<a href="single.html"></a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //how -->
		<!-- news -->
		<div class="news">
					</div>
		<!-- //news -->
		<!-- banner-bottom -->
		<div class="banner-bottom">
			<!-- container -->
			
		</div>
		<!-- //banner-bottom -->
		<!-- footer -->
		<div class="footer">
			<!-- container -->
			<div class="container">
				<div class="footer-top">
						<div class="footer-grids">
							<div class="col-md-3 f-address">
								<h5></h5>
								<ul>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
							<div class="col-md-6 f-address f-contact">
								<h5>Football is like life - it requires perseverance, self-denial, hard work, sacrifice, dedication and respect for authority.</h5>
							
							</div>
							<div class="col-md-3 footer-logo">
								<a href="index.html"></a>
								<div class="footer-left">
									<ul>
										
									</ul>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="footer-bottom">
							<div class="copyright">
							  	<p><a href="http://w3layouts.com/" target="_blank"></a> </p>
							</div>
							<div class="clearfix"> </div>
						</div>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //footer -->
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
									<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- content-Get-in-touch -->
	</body>
</html>