<!-- footer -->
<div class="footer">
    <!-- container -->
    <div class="container">
        <div class="footer-top">
            <div class="footer-grids">
                <div class="col-md-3 f-address">
                    <h5>Address</h5>
                    <ul>
                        <li>756 gt globel Place,</li>
                        <li>Canal road, Lahore.</li>
                        <li>Telephone: +92 3354342184</li>
                        <li></li>
                        <li>E-mail : <a href="mailto:example@email.com">bcsf14m519@pucit.edu.pk</a></li>
                    </ul>
                </div>
                <div class="col-md-6 f-address f-contact">
                    <h5>Stay in Touch</h5>
                    <form>
                        <input type="text" placeholder="Email address" required="">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="col-md-3 footer-logo">
                    <a href="index.html">EPL PLAYERS STATS</a>
                    <div class="footer-left">
                        <ul></ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="footer-bottom">
                <div class="copyright">
                    <p> </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //footer -->